

<section class="panier">
  <h1>Mon Panier</h1>


  @if (!servicePanier.panier()) {
    <div class="empty-cart">
      <mat-icon>shopping_cart</mat-icon>
      <p>Votre panier est vide</p>
      <a mat-raised-button color="primary" routerLink="/restaurants">
        Découvrir les restaurants
      </a>
    </div>
  }

  @if (servicePanier.panier(); as panier) {
    <!-- Nom du restaurant -->
    <div class="restaurant-info">
      <mat-icon>restaurant</mat-icon>
      <span>{{ panier.nomRestaurant }}</span>
    </div>



    <div class="cart-items">
      @for (article of panier.articles; track article.plat.id) {
        <div class="cart-item">
          <img [src]="article.plat.imageUrl" [alt]="article.plat.nom" class="item-image">

          <div class="item-info">
            <h3>{{ article.plat.nom }}</h3>
            <span class="item-price">{{ article.plat.prix | number:'1.2-2' }} $</span>
          </div>


          <div class="quantity-controls">
            <button mat-icon-button (click)="diminuerQuantite(article)">
              <mat-icon>remove</mat-icon>
            </button>
            <span class="quantity">{{ article.quantite }}</span>
            <button mat-icon-button (click)="augmenterQuantite(article)">
              <mat-icon>add</mat-icon>
            </button>
          </div>


          <span class="item-total">
            {{ article.plat.prix * article.quantite | number:'1.2-2' }} $
          </span>


          <button mat-icon-button color="warn" (click)="supprimerArticle(article)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      }
    </div>



    <div class="cart-summary">
      <div class="summary-row">
        <span>Sous-total</span>
        <span>{{ servicePanier.sousTotal() | number:'1.2-2' }} $</span>
      </div>
      <div class="summary-row">
        <span>Frais de livraison</span>
        <span>{{ panier.fraisLivraison | number:'1.2-2' }} $</span>
      </div>
      <div class="summary-row total">
        <span>Total</span>
        <span>{{ servicePanier.total() | number:'1.2-2' }} $</span>
      </div>
    </div>


    <button mat-raised-button color="primary" class="checkout-btn" (click)="commander()">
      Commander - {{ servicePanier.total() | number:'1.2-2' }} $
    </button>
  }
</section>
